@import '../scss/variables';

.gamesWrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100vw;
    min-height: 50vh;
    margin-left: $mrLeftDesk;
    margin-bottom: 20px;
 
    @media only screen and (max-width: $gameGridDesk) {
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }

    & div:nth-child(1) {
        order: 1;
        @media only screen and (max-width: $gameGridDesk) {
            order: 2;
        }
    }

    & div:nth-child(2) {
        order: 2;
        @media only screen and (max-width: $gameGridDesk) {
            order: 1;
        }
    }
}

.error {
    color: $mainRed;
    padding: 20px;
}