// main font
$mainDark: #2B2B2B;
$weightNormal: 400;
$weightBold: 600;

// sizes
$normal: 16px;

// background
$mainBg: #F5F5F5;
$white: #FFFFFF;
$grey: #F2F2F2;

// common colors
$mainRed: #EC4466;
$darkGray: #808080;

// common layout
$mrLeftDesk: 20px;

// breakpoints
$mobile: 628px; // 428px
$gameGridDesk: 900px;